// stylelint-disable declaration-no-important

//
// Text
//

.txt-ff--monospace {
  font-family: $font-family-monospace !important;
}

.txt-ws--wrap {
  white-space: normal !important;
}

.txt-ws--nowrap {
  white-space: nowrap !important;
}

.txt--truncate {
  @include text-truncate();
}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .#{$infix}txt-a--justify {
      text-align: justify !important;
    }

    .#{$infix}txt-a--left {
      text-align: left !important;
    }

    .#{$infix}txt-a--right {
      text-align: right !important;
    }

    .#{$infix}txt-a--center {
      text-align: center !important;
    }
  }
}

// Transformation

.txt-t--lowercase {
  text-transform: lowercase !important;
}

.txt-t--uppercase {
  text-transform: uppercase !important;
}

.txt-t--capitalize {
  text-transform: capitalize !important;
}

// Weight and italics
@each $key, $val in $txt-font-weights {
  .txt-fw--#{"" + $key} {
    font-weight: $val !important;
  }
}

.txt-fs--italic {
  font-style: italic !important;
}

// Misc

.txt-d--none {
  text-decoration: none !important;
}

.txt-wb--break-word {
  word-break: break-word !important; // IE & < Edge 18
  overflow-wrap: break-word !important;
}

// Reset

.txt-color--inherit {
  color: inherit !important;
}
