code {
  font-family: $font-family-monospace;
  font-size: 0.9rem;
}

.prettyprint {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: var(--black);

  pre & {
    background: var(--white);
    border-left: 5px solid var(--blue-100);
    margin: 0.5em 0 1.5em 10px;
    padding: 4px 0 2px 10px;
  }

  &_ {
    &_comment,
    &_quote {
      color: #007400;
    }

    &_tag,
    &_attribute,
    &_keyword,
    &_selector-tag,
    &_literal,
    &_name {
      color: #aa0d91;
    }

    &_variable,
    &_template-variable {
      color: #3f6e74;
    }

    &_code,
    &_string,
    &_meta-string {
      color: #c41a16;
    }

    &_regexp,
    &_link {
      color: #0e0eff;
    }

    &_title,
    &_symbol,
    &_bullet,
    &_number {
      color: #1c00cf;
    }

    &_meta,
    &_selection {
      color: #643820;
      .xml & {
        color: #c0c0c0;
      }
    }

    &_class &_title,
    &_type,
    &_built_in,
    &_builtin-name,
    &_params {
      color: #5c2699;
    }

    &_attr {
      color: #836c28;
    }

    &_subst {
      color: #000;
    }

    &_formula {
      background-color: #eee;
      font-style: italic;
    }

    &_addition {
      background-color: #baeeba;
    }

    &_deletion {
      background-color: #ffc8bd;
    }

    &_selector-id,
    &_selector-class {
      color: #9b703f;
    }

    &_doctag,
    &_strong {
      font-weight: bold;
    }

    &_emphasis {
      font-style: italic;
    }
  }
}
