// stylelint-disable declaration-no-important

.v-a--baseline {
  vertical-align: baseline !important;
} // Browser default
.v-a--top {
  vertical-align: top !important;
}
.v-a--middle {
  vertical-align: middle !important;
}
.v-a--bottom {
  vertical-align: bottom !important;
}
.v-a--text-bottom {
  vertical-align: text-bottom !important;
}
.v-a--text-top {
  vertical-align: text-top !important;
}
