// stylelint-disable declaration-no-important

// Flex variation
//
// Custom styles for additional flex alignment options.

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .#{$infix}flex--row {
      flex-direction: row !important;
    }

    .#{$infix}flex--column {
      flex-direction: column !important;
    }

    .#{$infix}flex--row-reverse {
      flex-direction: row-reverse !important;
    }

    .#{$infix}flex--column-reverse {
      flex-direction: column-reverse !important;
    }

    .#{$infix}flex--wrap {
      flex-wrap: wrap !important;
    }

    .#{$infix}flex--nowrap {
      flex-wrap: nowrap !important;
    }

    .#{$infix}flex--wrap-reverse {
      flex-wrap: wrap-reverse !important;
    }

    .#{$infix}flex--fill {
      flex: 1 1 auto !important;
    }

    .#{$infix}justify--flex-start {
      justify-content: flex-start !important;
    }

    .#{$infix}justify--flex-end {
      justify-content: flex-end !important;
    }

    .#{$infix}justify--center {
      justify-content: center !important;
    }

    .#{$infix}justify--space-between {
      justify-content: space-between !important;
    }

    .#{$infix}justify--space-around {
      justify-content: space-around !important;
    }

    .#{$infix}align-i--flex-start {
      align-items: flex-start !important;
    }

    .#{$infix}align-i--flex-end {
      align-items: flex-end !important;
    }

    .#{$infix}align-i--center {
      align-items: center !important;
    }

    .#{$infix}align-i--baseline {
      align-items: baseline !important;
    }

    .#{$infix}align-i--stretch {
      align-items: stretch !important;
    }

    .#{$infix}align-c--flex-start {
      align-content: flex-start !important;
    }

    .#{$infix}align-c--flex-end {
      align-content: flex-end !important;
    }

    .#{$infix}align-c--center {
      align-content: center !important;
    }

    .#{$infix}align-c--space-between {
      align-content: space-between !important;
    }

    .#{$infix}align-c--space-around {
      align-content: space-around !important;
    }

    .#{$infix}align-c--stretch {
      align-content: stretch !important;
    }

    .#{$infix}align-s--auto {
      align-self: auto !important;
    }

    .#{$infix}align-s--flex-start {
      align-self: flex-start !important;
    }

    .#{$infix}align-s--flex-end {
      align-self: flex-end !important;
    }

    .#{$infix}align-s--center {
      align-self: center !important;
    }

    .#{$infix}align-s--baseline {
      align-self: baseline !important;
    }

    .#{$infix}align-s--stretch {
      align-self: stretch !important;
    }
  }
}
