$color-blue: #106BA3;
$color-red: #FE625D;
$color-yellow: #FFC146;
$color-green: #2FC950;
$color-gray: #9b9b9b;
$color-dark-gray: #4A4A4A;

$color-code-keyword: #EA80FC;
$color-code-type: #80D8FF;
$color-code-method: $color-code-type;
$color-code-string: #FF80AB;

$link-normal-color: #9798A1;
$link-highlight-color: #106BA3;
$link-visited-color: #7766CC;

$dark-gray:#333333;

$font-weight-thin:100;
$font-weight-extra-light:200;
$font-weight-light:300;
$font-weight-regular:400;
$font-weight-medium:500;
$font-weight-semibold:600;
$font-weight-bold:700;
$font-weight-heavy:800;
$font-weight-black:900;

$font-size-headline:18px;
$font-size-subheadline:18px;
$font-size-body:1em;
$font-size-footnote:12px;