// Colors
$defaultColorMap: () !default;
$defaultColorMap: map-merge(
  $map1: (
    "orange": #f48024,
    "yellow": #fbf2d4,
    "green": #5eba7d,
    "blue": #0077cc,
    "powder": #e1ecf4,
    "red": #d1383d,
  ),
  $map2: $defaultColorMap,
);

$opacityColorMap: () !default;
$opacityColorMap: map-merge(
  $map1: (
    "black-025": #fafafb,
    "black-050": #eff0f1,
    "black-075": #e4e6e8,
    "black-100": #d6d9dc,
    "black-150": #c8ccd0,
    "black-200": #bbc0c4,
    "black-300": #9fa6ad,
    "black-350": #9199a1,
    "black-400": #848d95,
    "black-500": #6a737c,
    "black-600": #535a60,
    "black-700": #3c4146,
    "black-750": #2f3337,
    "black-800": #242729,
    "black-900": #0c0d0e,
    "orange-050": #fff7f2,
    "orange-100": #fee3cf,
    "orange-200": #fcd0ad,
    "orange-300": #f7aa6d,
    "orange-400": #f48024,
    "orange-500": #f2720c,
    "orange-600": #da670b,
    "orange-700": #bd5c00,
    "orange-800": #a35200,
    "orange-900": #874600,
    "blue-050": #f2f9ff,
    "blue-100": #cfeafe,
    "blue-200": #addafc,
    "blue-300": #6cbbf7,
    "blue-400": #379fef,
    "blue-500": #0095ff,
    "blue-600": #0077cc,
    "blue-700": #0064bd,
    "blue-800": #0054a3,
    "blue-900": #004487,
    "powder-050": #f4f8fb,
    "powder-100": #e1ecf4,
    "powder-200": #d1e5f1,
    "powder-300": #b3d3ea,
    "powder-400": #a0c7e4,
    "powder-500": #7aa7c7,
    "powder-600": #5b8db1,
    "powder-700": #39739d,
    "powder-800": #2c5777,
    "powder-900": #1e3c52,
    "green-025": #eef8f1,
    "green-050": #dcf0e2,
    "green-100": #cae8d4,
    "green-200": #a6d9b7,
    "green-300": #82ca9a,
    "green-400": #5eba7d,
    "green-500": #48a868,
    "green-600": #3d8f58,
    "green-700": #2f6f44,
    "green-800": #29603b,
    "green-900": #1e472c,
    "yellow-050": #fdf7e3,
    "yellow-100": #fbf2d4,
    "yellow-200": #f1e5bc,
    "yellow-300": #e6d178,
    "yellow-400": #e9c63f,
    "yellow-500": #ddb624,
    "yellow-600": #cea51b,
    "yellow-700": #b89516,
    "yellow-800": #9f8010,
    "yellow-900": #826a0b,
    "red-050": #fdf3f4,
    "red-100": #f9d3d7,
    "red-200": #f4b4bb,
    "red-300": #e87c87,
    "red-400": #de535e,
    "red-500": #d1383d,
    "red-600": #c02d2e,
    "red-700": #ac2726,
    "red-800": #942121,
    "red-900": #7a1819,
  ),
  $map2: $opacityColorMap,
);

$darkModeOpacityColorMap: () !default;
$darkModeOpacityColorMap: map-merge(
  $map1: (
    "black-025": #393939,
    "black-050": #3d3d3d,
    "black-075": #404345,
    "black-100": #4a4e51,
    "black-150": #555a5e,
    "black-200": #697075,
    "black-300": #7d848d,
    "black-350": #959ca3,
    "black-400": #9fa6ad,
    "black-500": #acb2b8,
    "black-600": #c4c8cc,
    "black-700": #cfd2d6,
    "black-750": #dadee0,
    "black-800": #e7e8eb,
    "black-900": #f2f2f3,
    "orange-050": #473c33,
    "orange-100": #5e4433,
    "orange-200": #8d5a2f,
    "orange-300": #cc7525,
    "orange-400": #f48024,
    "orange-500": #ff901e,
    "orange-600": #ffa95e,
    "orange-700": #f8b682,
    "orange-800": #fcd6b9,
    "orange-900": #fee7d6,
    "blue-050": #233e52,
    "blue-100": #25445f,
    "blue-200": #295070,
    "blue-300": #2b5f8a,
    "blue-400": #3070ab,
    "blue-500": #378ad3,
    "blue-600": #3ca4ff,
    "blue-700": #81c4f8,
    "blue-800": #b8dffd,
    "blue-900": #d5ecfd,
    "powder-050": #414648,
    "powder-100": #3e4a52,
    "powder-200": #43525f,
    "powder-300": #4c6071,
    "powder-400": #577489,
    "powder-500": #688eac,
    "powder-600": #7badd3,
    "powder-700": #9cc3db,
    "powder-800": #cde1ee,
    "powder-900": #e5f3ff,
    "green-025": #2e4233,
    "green-050": #344b3a,
    "green-100": #3d6048,
    "green-200": #487455,
    "green-300": #4d815c,
    "green-400": #5a9e6f,
    "green-500": #63b47c,
    "green-600": #76c490,
    "green-700": #93d0a8,
    "green-800": #b3dec1,
    "green-900": #d0eada,
    "yellow-050": #464236,
    "yellow-100": #524b38,
    "yellow-200": #675c37,
    "yellow-300": #7e6f3a,
    "yellow-400": #9e883b,
    "yellow-500": #bf9f37,
    "yellow-600": #dab941,
    "yellow-700": #f1d056,
    "yellow-800": #f8df7a,
    "yellow-900": #fcedaf,
    "red-050": #7a1819,
    "red-100": #942121,
    "red-200": #ac2726,
    "red-300": #c02d2e,
    "red-400": #d1383d,
    "red-500": #de535e,
    "red-600": #e87c87,
    "red-700": #f4b4bb,
    "red-800": #f9d3d7,
    "red-900": #fdf3f4,
  ),
  $map2: $darkModeOpacityColorMap,
);

$uiColorMap: () !default;
$uiColorMap: map-merge(
  $map1: (
    "white": #fff,
    "black": #0c0d0e,
    "gold": #ffcc01,
    "gold-lighter": #fff4d1,
    "gold-darker": #f1b600,
    "silver": #b4b8bc,
    "silver-lighter": #e8e8e8,
    "silver-darker": #9a9c9f,
    "bronze": #caa789,
    "bronze-lighter": #f2e9e1,
    "bronze-darker": #ab825f,
    "fc-dark": #0c0d0e,
    "fc-medium": #3c4146,
    "fc-light": #6a737c,
    "focus-ring": rgba(0, 149, 255, 0.15),
    "focus-ring-success": rgba(166, 217, 183, 0.4),
    "focus-ring-warning": rgba(233, 198, 63, 0.4),
    "focus-ring-error": rgba(192, 45, 46, 0.15),
    "focus-ring-muted": rgba(36, 39, 41, 0.1),
    "scrollbar": rgba(0, 0, 0, 0.2),
  ),
  $map2: $uiColorMap,
);

$darkModeUIColorMap: () !default;
$darkModeUIColorMap: map-merge(
  $map1: (
    "white": #2d2d2d,
    "black": #fff,
    "gold": #ffcc01,
    "gold-lighter": #5e553c,
    "gold-darker": #bc8f03,
    "silver": #b4b8bc,
    "silver-lighter": #424242,
    "silver-darker": #7b7c7e,
    "bronze": #caa789,
    "bronze-lighter": #4d433b,
    "bronze-darker": #8b684a,
    "fc-dark": var(--black-900),
    "fc-medium": var(--black-700),
    "fc-light": var(--black-500),
    "focus-ring": rgba(55, 138, 211, 0.15),
    "focus-ring-success": rgba(72, 116, 85, 0.4),
    "focus-ring-warning": rgba(158, 136, 59, 0.4),
    "focus-ring-error": rgba(196, 82, 79, 0.3),
    "focus-ring-muted": rgba(231, 232, 235, 0.1),
    "scrollbar": rgba(255, 255, 255, 0.2),
  ),
  $map2: $darkModeUIColorMap,
);

$darkModeColorMap: map-merge(
  $map1: $darkModeOpacityColorMap,
  $map2: $darkModeUIColorMap,
);

$lightModeColorMap: map-merge(
  $map1: $defaultColorMap,
  $map2: $opacityColorMap,
);

$lightModeColorMap: map-merge(
  $map1: $lightModeColorMap,
  $map2: $uiColorMap,
);

// Characters which are escaped by the escape-svg function
$escaped-characters: (
  ("<", "%3c"),
  (">", "%3e"),
  ("#", "%23"),
  ("(", "%28"),
  (")", "%29")
) !default;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-prefers-reduced-motion-media-query: true !default;
$enable-grid-classes: true !default;
$enable-pointer-cursor-for-buttons: true !default;
$enable-print-styles: true !default;
$enable-responsive-font-sizes: false !default;
$enable-validation-icons: true !default;

// Spacing
//
// Control the default styling of most elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacing: 1rem;

// Links
//
// Style anchor elements.

$link-color: var(--blue-600) !default;
$link-color--hover: var(--blue-500) !default;
$link-decoration: none !default;
$link-decoration--hover: none !default;

// Navs

$nav-link-padding-y: 0.5rem !default;
$nav-link-padding-x: 1rem !default;
$nav-link-color--disabled: var(--black-500) !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$grid-gutter-width: 2rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
) !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace !default;

$txt-font-weights: (
  thin: 100,
  extra-light: 200,
  light: 300,
  normal: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  black: 900,
) !default;

// Paragraphs
//
// Style p element.

$headings-margin-bottom: 1rem !default;
$paragraph-margin-bottom: 1rem !default;

$transition-input: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out !default;
$transition-fade: opacity 0.15s linear !default;
$transition-collapse: height 0.35s ease !default;

// List
//
// Style ui ol li eliment.
$list-margin-bottom: 1rem;
$list-nesting-margin-bottom: 0;


// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.

$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

// Utilities

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex,
  inline-flex !default;
$overflows: auto, hidden !default;
$positions: static, relative, absolute, fixed, sticky !default;

// Printing

$print-page-size: a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;
